#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin: 1rem 0;
}

button {
  background-color: #666;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #555;
  cursor: pointer;
}

button:active {
  background-color: #444;
}

/* Please excuse this old school styling approach! */
.logfile {
  background-color: #141414;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0.5rem;
}

.logs__log {
  padding: 0.5rem;
}

.logs__log:nth-child(even) {
  background-color: #333;
}

.logs__timestamp {
  font-size: 0.75rem;
  white-space: nowrap;
}

.logs__message {
  font-family: monospace;
  font-size: 0.75rem;
}

.logs__process {
  font-size: 0.5rem;
}

.filepicker {
  margin: 1rem 0;
}

.filepicker__select {
  padding: 0.5rem;
  width: 20rem;
}

.filepicker__search {
  display: flex;
  gap: 0.25rem;
  margin: 0.5rem 0.5rem 0 0;
  width: 20rem;
}

.filepicker__search-input {
  padding: 0.3755rem;
  flex: 1;
}
